<h1 style="margin: 16px;">Task</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form" class="form-container">
  <mat-form-field class="example-full-width">
    <mat-label>Titolo</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Descrizione</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-radio-group aria-label="Seleziona lo stato" formControlName="status">
    <mat-label>Stato:</mat-label>
    <mat-radio-button [value]="false">To Do</mat-radio-button>
    <mat-radio-button [value]="true">Done</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleziona Persona</mat-label>
    <mat-select formControlName="person">
      <mat-option *ngFor="let persona of persone" [value]="persona">{{persona.nome}}
        {{persona.cognome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" class="submit-button" type="submit"
    [disabled]="!form.valid">{{testoBottone}}</button>
</form>